<!DOCTYPE HTML>
<html>
<head>
<link rel="stylesheet" href="static/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="static/css/bootstrap-theme.min.css">

<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Game</title>

</head>
<body>
<h1 class="text-center">Game</h1>
<div class="container">
<h4>Group:{{group_id}}</h4>
<h1 class="round_title"> {{player}} &nbsp Round:{{g_round}}</h1>
<h3 class="timer text-center">Time: 20 seconds left</h3>

<h4 class="my_score">  </h4>
<div class="center-block row">

<div class="btn-group self" data-toggle="buttons">
  <label class="btn btn-default">
    <input type="checkbox" class="current"> 
<img src="static/images/1.png" alt="Shape 1" height="68" width="68" style="opacity: 0.9;">
  </label>
  <label class="btn btn-default">
    <input type="checkbox" class="current">
<img src="static/images/2.png" alt="Shape 2" height="68" width="68" style="opacity: 0.9;">
  </label> 
  <label class="btn btn-default">
    <input type="checkbox" class="current"> 
<img src="static/images/3.png" alt="Shape 3" height="68" width="68" style="opacity: 0.9;">
  </label>
  <label class="btn btn-default">
    <input type="checkbox" class="current"> 
<img src="static/images/4.png" alt="Shape 4" height="68" width="68" style="opacity: 0.9;">
  </label>
  <label class="btn btn-default">
    <input type="checkbox" class="current">
<img src="static/images/5.png" alt="Shape 5" height="68" width="68" style="opacity: 0.9;">
  </label>
  <label class="btn btn-default">
    <input type="checkbox" class="current"> 
<img src="static/images/6.png" alt="Shape 6" height="68" width="68" style="opacity: 0.9;">
  </label>
  <label class="btn btn-default">
    <input type="checkbox" class="current"> 
<img src="static/images/7.png" alt="Shape 7" height="68" width="68" style="opacity: 0.9;">
  </label>
  <label class="btn btn-default">
    <input type="checkbox" class="current"> 
<img src="static/images/8.png" alt="Shape 8" height="68" width="68" style="opacity: 0.9;">
  </label>
  <label class="btn btn-default">
    <input type="checkbox" class="current"> 
<img src="static/images/9.png" alt="Shape 9" height="68" width="68" style="opacity: 0.9;">
  </label>
  <label class="btn btn-default">
    <input type="checkbox" class="current"> 
<img src="static/images/10.png" alt="Shape 10" height="68" width="68" style="opacity: 0.9;">
  </label>
  <label class="btn btn-default">
    <input type="checkbox" class="current"> 
<img src="static/images/11.png" alt="Shape 11" height="68" width="68" style="opacity: 0.9;">
  </label>
  <label class="btn btn-default">
    <input type="checkbox" class="current"> 
<img src="static/images/12.png" alt="Shape 12" height="68" width="68" style="opacity: 0.9;">
  </label>
</div>

</div>
<br/>





 {% csrf_token %}
</div><!--container -->
<script src="static/js/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>



<script type="text/javascript">
pre_time_limit = {{PRE_TIMER}}
time_limit={{TIMER}};//timer for each round
width=0; // pro bar
augment= 100.0/time_limit;
READY = "false";
ROUND_FINISHED = "false";
CURRENT_ROUND = 1;
ROUND_NUM = {{NUM_OF_ROUNDS}};


//pull data of others
function pull(){
$.ajax({
  type: "GET",
  url: "record/pull/",
  data: {"group_id":"{{group_id}}",
         "player":"{{player}}", 
         "g_round":CURRENT_ROUND,
         //"csrfmiddlewaretoken":$("input[name=csrfmiddlewaretoken]").val(), using get, no need for csrf
},
  success: function(data) {
$(".my_score").html('Score:'+data["my_score"]);
$(".btn-group.others").remove();
$("h4.players").remove();
for(var i=0;i<data["records"].length;i++){
$(".container").append('<h4 class="players">'+data["records"][i]["player"]+' Score:'+data["records"][i]["score"]+'</h4>');
$(".btn-group.self").clone().removeClass("self").addClass("others").appendTo(".container");

}
$(".btn-group.others").each(function (index_d){

$(this).find(".btn-default").each(function (index){ //todo here
                if(data["records"][index_d]["result"][index]=="1")
                {

                $(this).addClass("active");
                }else{$(this).removeClass("active");}
                
                })

                })


ROUND_FINISHED = "true";
//ROUND_NUM = ROUND_NUM -1;

if(CURRENT_ROUND!=ROUND_NUM){
CURRENT_ROUND = CURRENT_ROUND +1;
round();
}
            },
  error : function(httpReq,status,exception){
                alert(status+" "+exception);
            }
,
  dataType: "json",
});
}


function pre_timer(){
if(pre_time_limit>=0){
$(".timer").html("The game will start in : "+ pre_time_limit.toString()+" seconds");
pre_time_limit--;
setTimeout("pre_timer()",1000);
}
else{
$(".self .btn-default").removeClass("disabled");
timer();

}
}



function timer(){
if(time_limit>=0){
$(".timer").html("Time: "+ time_limit.toString()+" seconds left");
setTimeout("timer()",1000);
time_limit--;

}
else{
$(".timer").html("Time is up");
$(".btn-default").addClass("disabled");
result = "";

$(".self input[type=checkbox].current").each(function () {
    var sThisVal = (this.checked ? "1" : "0");
    result = result.concat(sThisVal);
});



//post data to the server

$.ajax({
  type: "POST",
  url: "record/push/",
  data: {"result":result,
         "player":"{{player}}", 
         "g_round":CURRENT_ROUND,
         "csrfmiddlewaretoken":$("input[name=csrfmiddlewaretoken]").val(),
},
  success: function(data) {              
//alert(data)
         pull();
            },
  error : function(httpReq,status,exception){
                alert(status+" "+exception);
            }
,
  dataType: "json",
});




}
}



function player_status(){
if(READY == "false"){
$.ajax({
  type: "GET",
  url: "/player_status/",
  data: {
         "player":"{{player}}", 
         "group_id":"{{group_id}}",
         "csrfmiddlewaretoken":$("input[name=csrfmiddlewaretoken]").val(),
},
  success: function(data) {
            if(data["result"]=="true"){
               READY="true";

               pre_timer();
             }
           else{
           $(".timer").html(data["msg"]);
            }

            },
  error : function(httpReq,status,exception){
                alert(status+" "+exception);
            }
,
  dataType: "json",
});

setTimeout("player_status()",1000);

}

else{


}
}



function round(){

if(ROUND_FINISHED=="false"){

setTimeout("round()",2000);
 console.log(1);
}
else{
 console.log(1000);
//ROUND_NUM = ROUND_NUM - 1;
pre_time_limit = {{PRE_TIMER}};
time_limit={{TIMER}};//timer for each round
$(".round_title").html("{{player}} &nbsp Round:"+CURRENT_ROUND);
setTimeout("pre_timer()",1000);
width=0; // pro bar

}

}

$(document).ready(function() {
$(".btn-default").addClass("disabled");
player_status();





})

</script> 

</body>
</html>
